<!-- Skills Section -->
<section class="skills section" id="skills">
    <div class="container">
        <div class="section-heading">
            <h2>Skills</h2>
        </div>

        <div class="skills-content">
            <!-- Programming -->
            <div class="skills-category">
                <div class="category-header">
                    <div class="category-icon"><i class="fas fa-code"></i></div>
                    <h3>Programming</h3>
                </div>
                <div class="skills-tag-cloud">
                    <span class="skill-tag"><i class="fas fa-code"></i>Python</span>
                    <span class="skill-tag"><i class="fas fa-database"></i>SQL</span>
                    <span class="skill-tag"><i class="fab fa-java"></i>Java</span>
                    <span class="skill-tag"><i class="fab fa-js"></i>JavaScript</span>
                    <span class="skill-tag"><i class="fab fa-html5"></i>HTML</span>
                    <span class="skill-tag"><i class="fab fa-css3-alt"></i>CSS</span>
                    <span class="skill-tag"><i class="fas fa-code"></i>C</span>
                </div>
            </div>
            
            <!-- Computational Biology -->
            <div class="skills-category">
                <div class="category-header">
                    <div class="category-icon"><i class="fas fa-dna"></i></div>
                    <h3>Computational Biology</h3>
                </div>
                <div class="skills-tag-cloud">
                    <span class="skill-tag"><i class="fab fa-python"></i>BioPython</span>
                    <span class="skill-tag"><i class="fa-solid fa-align-justify"></i>Clustual Omega</span>
                    <span class="skill-tag"><i class="fab fa-python"></i>AlphaFold</span>
                    <span class="skill-tag"><i class="fas fa-laptop"></i>JBrowse</span>
                    <span class="skill-tag"><i class="fas fa-dna"></i>Single-Cell Sequence Analysis</span>
                    <span class="skill-tag"><i class="fas fa-dna"></i>Gene Annotations</span>
                </div>
            </div>

            <!-- Frameworks & Architecture -->
            <div class="skills-category">
                <div class="category-header">
                    <div class="category-icon"><i class="fas fa-brain"></i></div>
                    <h3>AI & Machine Learning</h3>
                </div>
                <div class="skills-tag-cloud">
                    <span class="skill-tag"><i class="fa-solid fa-fire-flame-curved"></i>PyTorch</span>
                    <span class="skill-tag"><i class="fa-solid fa-cube"></i>TensorFlow</span>
                    <span class="skill-tag"><i class="fas fa-brain"></i>Scikit Learn</span>
                    <span class="skill-tag"><i class="fab fa-python"></i>NumPy</span>
                    <span class="skill-tag"><i class="fab fa-python"></i>Pandas</span>
                    <span class="skill-tag"><i class="fa-solid fa-chart-simple"></i>Bambi</span>


                </div>
            </div>

            <!-- Data Science & Analytics -->
            <div class="skills-category">
                <div class="category-header">
                    <div class="category-icon"><i class="fas fa-chart-bar"></i></div>
                    <h3>Data Analysis & Visualization</h3>
                </div>
                <div class="skills-tag-cloud">
                    <span class="skill-tag"><i class="fa-solid fa-chart-simple"></i>Plotly</span>
                    <span class="skill-tag"><i class="fa-solid fa-chart-simple"></i>Seaborn</span>
                    <span class="skill-tag"><i class="fa-solid fa-chart-simple"></i>Matplotlib</span>
                    <span class="skill-tag"><i class="fas fa-project-diagram"></i>Clustering</span>
                    <span class="skill-tag"><i class="fas fa-tree"></i>Decision Trees</span>
                    <span class="skill-tag"><i class="fas fa-calculator"></i>Classification</span>
                    <span class="skill-tag"><i class="fas fa-chart-bar"></i>Tableau</span>
                </div>
            </div>

        </div>

        <div class="skills-background">
        </div>

        <div class="skills-background-up">
        </div>
    </div>
</section>